dify/**
supabase/**
killbill-cloud/**
superagent/**
node_modules/**
.next/**
tailwind.config.ts

# Build & dist artifacts
dist/**
build/**
.cache/**

# Test & coverage outputs
coverage/**
playwright-report/**
e2e/**

# Tooling / misc
.turbo/**
.vercel/**
.rt_*
.pnpm-store/**
.vscode/**
.idea/**

# Migration & Scripts
migrate.js
scripts/**
package/**
edge/cloudflare/package.json

# JSON files
*.json
!tsconfig*.json
